// bower:scss
// endbower
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  background: #ffffff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
}

.loader {
  background: #7d48cf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &.hide {
    transition: opacity .5s;
    opacity: 0;
  }

  img {
    animation: loader .8s linear infinite;
  }
}

section {
  .wrap-header {
    width: 100%;
    text-align: center;
  }

  .block-header {
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    margin: 30px 0 30px 0;
    border-bottom: 3px solid rgba(112, 83, 217, 0.7);
  }
}

.cb-form {
  width: 100%;

  .input-wrap {
    position: relative;
    padding: 18px 18px 13px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
    border-color: hsla(0, 0%, 59%, .3);
  }

  .label {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    transition: top .2s ease-out;
  }

  .input {
    width: 100%;
    border: none;
    background: none;
    margin-top: 8px;
    outline: none !important;
    font-size: 15px;
  }
}

.btn {
  color: #fff;
  background-color: #ee3b23;
  transition: background-color .3s ease-in;
  box-shadow: 0 10px 25px 0 rgba(238, 59, 35, .3);
  margin-top: 15px;
  width: 100%;
  appearance: none;
  border-radius: 8px;
  padding: 24px;
  font-size: 25px;
  line-height: 24px;
  font-weight: 100;
  height: 84px;
  border: none;
  outline: none;

  &:hover {
    background-color: #c9321d;
    cursor: pointer;
  }
}


header {
  display: flex;
  flex-direction: row;
  width: calc(100% - 60px);
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
  position: relative;

  &::before {
    content: '';
    background: url('../images/footer-bg.svg') no-repeat left top/cover;
    width: 559px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 260px;
    z-index: -2;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 713px;
    height: 375px;
    background: #fff;
    transform: skewY(-14deg);
    z-index: -1;
    top: 16px;
    left: -18px;
    border-radius: 200px;
    border: 16px solid rgba(112, 83, 217, 0.3);
  }

  .header__contact {
    .header__contact_phone {
      margin: 0;
      padding: 0;
      font-size: 25px;
      font-weight: 700;
      color: #000;
    }
  }
}

.nav {
  z-index: 1;
  position: fixed;
  right: 10px;
  top: 85px;
  transition: top .3s;

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav__item {
    color: #999999b5;
    margin-bottom: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;

    &:hover {
      .title {
        transition: all .2s;
        color: #999;
      }

      .dot {
        background: #7053d980;
      }
    }

    &.active {
      .title {
        transition: all .2s;
        color: #000;
      }

      .dot {
        background: #774cd3;
      }
    }

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #c2c2c2;
      margin-left: 10px;
    }
  }
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;

  .main__action,
  .main__img {
    display: flex;
    align-items: center;
  }

  .main__img {
    width: 70%;
    overflow: hidden;
  }

  .main__action {
    width: 30%;
    font-size: 36px;
    font-weight: 500;
    padding: 0px 10%;
    flex-direction: column;
    align-items: flex-start;

    .description {
      margin-bottom: 35px;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    .city {
      color: #ee3b23;
    }

    p {
      margin: 0;
      font-size: 19px;
      line-height: 35px;
      color: #000;
      font-weight: 400;
    }
  }

  .main__img img {
    margin-top: 25px;
    width: 100%;
    max-width: 650px;
    height: auto;
  }

  .scroll-down {
    bottom: 0;
    height: 50px;
    position: absolute;
    animation: scrollDown 1.5s linear infinite;
    animation-delay: 1000ms;
  }
}

.services {
  background: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 30px;

  .services__items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      flex: 1;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-width: 270px;

      .item-icon {
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item-title {
        padding: 0 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
      }
    }
  }
}

.tarif {
  margin-bottom: 30px;

  .tarif__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      margin-top: 30px;
      height: 140px;
      width: 620px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-bottom: 1px solid #a8a8a8;

      .item-column {
        width: 50%;
      }

      &.no-border {
        border: none;
      }
    }

    .item-decription {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      .title {
        font-size: 18px;
        font-weight: 100;
        margin-right: 10px;
        color: #999;
      }

      .val {
        font-size: 22px;
        font-weight: bolder;
        padding-left: 20px;
      }

      .price {
        color: #ee3b23;
      }
    }

    .item-photo {
      width: 370px;
      height: 100%;
      margin-left: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 210px;
        height: auto;
        max-height: 140px;
      }
    }
  }
}

.partners {
  background: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;

  .partners__items {
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
  }

  .item {
    height: 120px;
    width: 400px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      width: auto;
    }
  }

  .owl-dot {
    span {
      background: #c2c2c2 !important;
    }

    &.active span {
      background: #ee3b23 !important;
    }
  }
}

.footer {
  // border-top: 1px solid #a8a8a8;
  height: 300px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../images/footer-bg.svg');
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 180px;
    background: #f7f7f7;
    transform: skewY(-6deg);
    z-index: 0;
    top: -110px;
    left: 0;
  }

  .wrap-btn {
    width: 50%;
    margin-top: 50px;
    background: url(../images/btn-bg.svg) no-repeat center top/contain;
    display: flex;
    justify-content: center;
    align-items: center;


    .btn {
      font-size: 18px;
      line-height: 50px;
      padding: 20px 0;
      margin: 10px 0;
      padding: 0;
      // margin: 0;
      height: 50px;
      width: 250px;
      text-align: center;
      text-decoration: none;
    }
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    color: #fff;
    margin-bottom: 20px;

    .footer__contact_phone {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 25px;
      font-weight: 700;
    }

    p {
      margin: 0;
      padding: 5px;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scrollDown {
  0% {
    bottom: 0px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }
}
